export BROKER_USERNAME=broker
export BROKER_PASSWORD=broker
export PORT=8100

export SB_BROKER_URL=http://localhost:8100
export SB_BROKER_USERNAME=${BROKER_USERNAME}
export SB_BROKER_PASSWORD=${BROKER_PASSWORD}
export EDEN_CONFIG=tmp/eden_config

export RUN_BROKER_FOR_SANITY_TEST=1
